<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<title>个人简历</title>
	<link rel="stylesheet" href="../../js/lib/bootstrap/css/bootstrap.min.css"/>
	<style>
		body {font-family:"Microsoft yahei";}
		.mt20 {margin-top:20px;}
		td {vertical-align:top;white-space:normal;}
		.min-w90 {min-width:90px;}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row bg-success">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
				<h2 class="text-center text-danger">
					<span class="glyphicon glyphicon-list"></span>
					<span>个人简历</span>
				</h2>
			</div>
		</div>
		<div class="row bg-info">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
				<div class="panel panel-danger mt20">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="glyphicon glyphicon-hand-right"></span>
							<span>基本信息</span>
						</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<tbody>
								<tr>
									<td class="min-w90">中文名：</td>
									<td>孙毅<a href="photos.html" target="_blank">(生活照)</a></td>
								</tr>
								<tr>
									<td>英文名：</td>
									<td>ryan suen</td>
								</tr>
								<tr>
									<td>性别：</td>
									<td>男</td>
								</tr>
								<tr>
									<td>籍贯：</td>
									<td>四川</td>
								</tr>
								<tr>
									<td>手机：</td>
									<td>155xxxxxxx</td>
								</tr>
								<tr>
									<td>邮箱：</td>
									<td>1454416761@qq.com</td>
								</tr>
								<tr>
									<td>工作经验：</td>
									<td>1年~2年</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="glyphicon glyphicon-hand-right"></span>
							<span>教育背景</span>
						</h3>
					</div>
					<div class="panel-boty">
						<table class="table">
							<tbody>
								<tr>
									<td class="min-w90">毕业学校：</td>
									<td>广东工业大学</td>
								</tr>
								<tr>
									<td>学历：</td>
									<td>本科</td>
								</tr>
								<tr>
									<td>毕业时间：</td>
									<td>2014-6</td>
								</tr>
								<tr>
									<td>专业：</td>
									<td>通信工程</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="glyphicon glyphicon-hand-down"></span>
							<span>在校情况</span>
						</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<tbody>
								<tr>
									<td class="min-w90">英语：</td>
									<td>大学英语四级</td>
								</tr>
								<tr>
									<td>荣誉奖励：</td>
									<td>
										<ul class="list-unstyled">
											<li>获得学校2011~2012学年学业三等奖</li>
											<li>获2012年学校实验技能大赛团队二等奖</li>
											<li>2012年5月参加广州网球高校联赛，与队友获双打冠军</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>项目经验：</td>
									<td>
										<ul class="list-unstyled">
											<li>2011.09~2012.12&nbsp;&nbsp;在学院刘教授带领下完成课题为“基于javaWeb的英语教学系统开发”的广东省创新项目。担任队长，参与交互设计，主要负责网站以及网站后台系统的前端开发。</li>
											<li>2013.09~2013.12 &nbsp;在线OA系统开发，独自完成。</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>实习情况：</td>
									<td>
										<ul class="list-unstyled">
											<li>2013.07~2013.08&nbsp;&nbsp;中国电信广州分公司,担任实习客户经理。</li>
											<li>2014.03-2014.06&nbsp;&nbsp;广州蓝豆科技前端开发实习生，主要负责培训系统、报表系统的前端开发以及优化。</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="glyphicon glyphicon-hand-right"></span>
							<span>工作经验</span>
						</h3>
					</div>
					<div class="panel-body">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<span class="glyphicon glyphicon-record"></span>
									<span>广州蓝豆科技有限公司</span>
								</h3>
							</div>
						</div>
						<div class="panel-body">
							<table class="table">
								<tbody>
									<tr>
										<td class="min-w90">时间：</td>
										<td>2014.03-至今</td>
									</tr>
									<tr>
										<td>职位：</td>
										<td>前端开发工程师</td>
									</tr>
									<tr>
										<td>工作内容：</td>
										<td>
											全权负责公司web端、以及移动web端的项目前端开发、优化，以及维护。主要包括：
											<span>培训系统</span>、
											<span>报表系统</span>、
											<span>酒店管家（移动端）</span>、
											<a href="http://121.40.73.93:9150/">云平台</a>、
											<span>青苗网、</span>
											<span>官网等。</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="glyphicon glyphicon-hand-right"></span>
							<span>自我评价</span>
						</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<tbody>
							<tr>
								<!--<td class="min-w90">专业技能：</td>-->
								<td>
									<ul class="list-unstyled">
										<li>熟练掌握Javascript、HTML(5)、CSS(3),能手写代码。</li>
										<li>熟练使用各种调试工具，能独立分析、归纳和解决问题。</li>
										<li>熟练掌握盒模型、常用布局以及浏览器和移动设备兼容性。</li>
										<li>熟练使用常用JS框架，如jquery、Zepto、Backbone、underscore.js、requireJS、mustache.js、Ractive等。</li>
										<li>熟悉常用css框架，如bootstrap等。</li>
										<li>熟练使用C#MVC框架，了解PHP、Java、node、express、mongodb、mysql。</li>
										<li>热爱前端技术，jade、ejs、CoffeeScript、less等均有涉猎。</li>
										<li>有一定的前端优化，工程化经验。</li>
										<li>希望成为一名优秀的全栈工程师！<a href="孙毅个人简历.pdf">（简历下载）</a></li>
									</ul>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src="../../js/lib/jquery/jquery-1.9.1.min.js"></script>
<script src="../../js/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>