<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<link rel="stylesheet" href="../../css/normalize/normalize-3.0.3.min.css"/>
	<link rel="stylesheet" href="../../js/lib/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="mossdare.css"/>
	<title>新人新婚快乐</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
				<div class="panel dai-header">
					<div class="panel-heading center-block bg-danger text-center text-danger">
						<h3>To</h3>
						<hr/>
						<h3>
							代俊逸
							<span class="glyphicon glyphicon-heart"></span>
							许婷婷
						</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:杨宇程
						</h3>
					</div>
					<div class="panel-body">
						百年好合，幸福美满！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:戴健
						</h3>
					</div>
					<div class="panel-body">
						大爷！祝你新婚快乐，兄弟替你高兴，回来广州咱们再走几杯庆祝！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:吴琳
						</h3>
					</div>
					<div class="panel-body">
						大爷新婚快乐！大爷和大爷的婷婷都结婚了，我的婷婷还不肯口交！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:魏杰星
						</h3>
					</div>
					<div class="panel-body">
						早生贵子，带我装逼带我飞！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:苏浩
						</h3>
					</div>
					<div class="panel-body">
						大爷：竟然是第一个结婚的，记得上次去重庆你还欠我一顿酒，顺便祝新婚快乐！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:欧阳鑫宇
						</h3>
					</div>
					<div class="panel-body">
						大爷，新婚快乐！首先兄弟没能亲自过去参加婚礼对不住啊～ 下次喝酒我自罚！大学四年，
						转眼过去～委员会这帮成员就你最早步入人生新台阶了！
						我想说的是因为有爷你的带领我们委员会这四年玩的很尽兴～过的很嗨皮！
						生活很充实！爬过树，能下湖，捕过鱼，喝过酩酊大醉还是爷你和小艾把我背回去的！
						半夜广美一帮兄弟开炮～外环我们成功组织了通二最吊的女生节～吃宵夜咱们讲究横穿，
						平端[偷笑]！整个大学城就没有委员会没玩过的地！
						你就要结婚了～以后带着嫂子也要过的很精彩喔～兄弟我真心祝你幸福！
						一辈子的好兄弟～有机会回来广东咱几个再一起喝酒，
						一起吹水～一起回忆那些年我们激情四射的大学时光～～大爷结婚了就狠狠的幸福下去！
						兄弟我在河源远远的给你送去祝福！想说的太多～最后只剩下一句话:兄弟我在等着再和你一起喝酒！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:丁泽伟
						</h3>
					</div>
					<div class="panel-body">
						大爷，没想到你是我们班第一个结婚的，还记得你打球的飒爽英姿，
						班里主持的幽默诙谐，现在你要结婚了，婚纱照还是一如既往的帅气，
						祝福你们幸福美满，永寿偕老！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:詹子群
						</h3>
					</div>
					<div class="panel-body">
						To大爷：虽然我们没有同寝室，但是我们共同在西四七楼挥洒了4年汗水；大学时光并不长，感觉就在昨天，
						我们还在教三上着高数；当听到你要结婚的消息，其实我是，是拒绝的；
						昨天你还在我旁边趴着上完了高数，今天你就结婚了啊～Duang～此刻，
						我只能哼着《同桌的你》，祝你和嫂子白头偕老，永结同心！幸福，快乐！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:庞岳翔
						</h3>
					</div>
					<div class="panel-body">
						大爷，同窗四载，大气慷慨，豪爽又好玩的你，从小林子照鸟，中心湖抓虾，各种班级活动，想想都很多回忆。
						大爷要打响通二第一炮了！可喜可贺！九点钟方向，开炮！祝大爷一炮而红！新婚快乐！幸福美满！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:李蔚彤
						</h3>
					</div>
					<div class="panel-body">
						代爷，好腻害，一直以来默默无闻，没想到最早结婚的竟然是你！祝福的话还是要说，白头偕老，早生贵子！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:李嘉裕
						</h3>
					</div>
					<div class="panel-body">
						甜甜蜜蜜，长长久久，早生贵子[呲牙]
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:杨艾
						</h3>
					</div>
					<div class="panel-body">
						回忆涌上心头，往事历历在目，愿青春的痕迹永保原色，情谊铭记于心，任时空变幻。
						朋友是自己给自己最好的礼物，畅想5年10年后相约之景，我心蔚然。
						祝愿俊逸和婷婷幸福安康，美美满满，新婚快乐！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:林伟权
						</h3>
					</div>
					<div class="panel-body">
						早生贵子-.-
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:罗丹
						</h3>
					</div>
					<div class="panel-body">
						代爷，新婚快乐，恩恩爱爱，早生贵子。
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:罗建业
						</h3>
					</div>
					<div class="panel-body">
						新婚快乐～！祝您两永浴爱河，白头偕老！还有早生贵子！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:陆满
						</h3>
					</div>
					<div class="panel-body">
						祝福高富帅、白富美新婚快乐，永结同心，白头偕老！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:张碧思
						</h3>
					</div>
					<div class="panel-body">
						秦晋之好，举案齐眉！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:池佳成
						</h3>
					</div>
					<div class="panel-body">
						大爷，恭贺新婚，喜结连理！怀念广州大学城的日子，因为你的到来，
						四年过得很精彩！大业指日可待，708待你王者归来！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:潘春泳
						</h3>
					</div>
					<div class="panel-body">
						兄弟，人生读书是一个阶段，工作后是一个阶段，结婚后又是另外一个阶段，
						你是我们委员会中第一个实现人生大满贯的，一直领导我们前进的节奏啊，
						祝新婚快乐，百年好合！兄弟们向你看齐！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:冯方儒
						</h3>
					</div>
					<div class="panel-body">
						祝大爷和嫂子天长地久，相亲相爱，白头偕老，早日生个小小爷！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:范亚兰
						</h3>
					</div>
					<div class="panel-body">
						祝大爷新婚快乐！班里的第一个丈夫，一定要对嫂子好一些！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:王萍
						</h3>
					</div>
					<div class="panel-body">
						真没想到你会是第一个，祝永远幸福，白头偕老！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:李果
						</h3>
					</div>
					<div class="panel-body">
						通信二班第一个结婚的啊！大爷果然神速，新婚快乐哟！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:郭丽莎
						</h3>
					</div>
					<div class="panel-body">
						大爷，新婚快乐！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:林漫娜
						</h3>
					</div>
					<div class="panel-body">
						平平淡淡最真实，长长久久最幸福，恭喜！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:吴俊
						</h3>
					</div>
					<div class="panel-body">
						大爷，要结婚了也不告诉我一声，亏我以前大学跟你们也算交集不少[右哼哼]。
						人生赢家啊你，恭喜恭喜，祝你们夫妻白头偕老，永结同心，早生贵子，
						三年抱俩[鼓掌]，我认识人中你是第一个结婚的，羡慕嫉妒恨啊！
						我也要努力追上你的步伐了[奋斗][奋斗][奋斗]，想想还是继续努力搬砖吧！
					</div>
				</div>



				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:吴俊
						</h3>
					</div>
					<div class="panel-body">
						大爷，要结婚了也不告诉我一声，亏我以前大学跟你们也算交集不少[右哼哼]。
						人生赢家啊你，恭喜恭喜，祝你们夫妻白头偕老，永结同心，早生贵子，
						三年抱俩[鼓掌]，我认识人中你是第一个结婚的，羡慕嫉妒恨啊！
						我也要努力追上你的步伐了[奋斗][奋斗][奋斗]，想想还是继续努力搬砖吧！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:许炜
						</h3>
					</div>
					<div class="panel-body">
						今生注定，喜结良缘。愿你们在今后的道路上事事顺心，幸福美满。代委员长，新婚快乐！
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:杨永祯
						</h3>
					</div>
					<div class="panel-body">
						大爷，还是一如既往地跟着大家叫你一声大爷（好像有点骂人的意思，忽略掉[呲牙]），其实我也不知道为什么大家都叫你大爷，
						只是大家都这么叫，我也就随波逐流了。如果不是微信和QQ上面备注着你的姓名，还真的一时想不起你叫什么，
						但是我想自己记得大学四年里面有个哥们儿，大家都叫他大爷，就够了。（不好意思，处女座的毛病又犯了，有点啰嗦）谢谢您当年在宿舍天台听我的吐槽，
						很怀念当年的各种大排档，各种码头吹水，各种球场上的奔跑......一切仿佛都发生在昨天（其实也没多久[呲牙]），
						毕业快一年了，你已经为人夫了，以后就不要出去鬼混了[坏笑]，努力赚钱，早日成为高富帅，走上人生巅峰，到时候大家有机会再回大学城一起装逼一起飞！
						（太罗嗦了，废话少说）明天就是你的大喜日子了，小弟因为工作关系不能到场蹭吃蹭喝，实在惭愧，
						远在千里之外的我只能通过键盘敲出对你的祝福了：祝您新婚快乐，百年好合，早生贵子！！！[爱你][爱你][爱你]
					</div>
				</div>



				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">
							By:孙毅
						</h3>
					</div>
					<div class="panel-body">
						现在的天气真是热，还没开始说话就已经渴了，这杯就先让杨总帮我敬你了（杨总辛苦你了）。一见钟情用来形容我们的初次见面可能
						有点过于基情，权且换成一见如故。光阴似箭这个东西总是和美好，开心，愉悦这些词相对立的，大学四年，一幌而过，相信这和我们的
						几位臭味相投有莫大的关系。还记得曾经一位老师讲过，人的一生有两个选择是很重要的，一个是选择的大学，现在想来，有一定道理，
						不然我的臭味和谁相投呢？另一个就是选择自己的配偶，从习大大和薄熙来的人生经历可以很明显看出这点，借别人一句话来表达我对
						嫂子（我们有约定，我们几个见到谁的老婆都叫嫂子）的看法，嫂子是那种明明可以靠脸吃饭的人，却便便要靠才华，这个让那些又不
						能靠脸，也不能靠才华吃饭的人情何以堪。再一幌，一年又要过去了，而这即将迎来的是你们相互之间的重大选择。嫂子给了你最美好的
						年华，你给了嫂子最男人的承诺。定义一个人的成功，有两个方面，一是事业上的成功，一是在本应有的年纪收获一份另人羡慕的爱情，
						做到前者，而做不到后者，那就是阶段性的失败；而做到后者便算是阶段性成功，两者都做到，那就是老天都眷顾你。聊到这里，我想
						我也应该敬嫂子一杯了，不过这杯嫂子不用急着喝，以后当面还。回想以前的经历，很多都是历历在目，一起干过的“大”事，一起挥洒
						的汗水，一起追过的梦，虽不像昨天刚发生一样，却也总能想起。杨艾，佳成能够去到你们婚礼的现场，这是一份很大的情谊，珍重它。
						不能到场是我很大的遗憾，那就让佳成代我罚一杯，不过大爷，你总不能让佳成一个人喝！祝两位喜结连理，愿兄弟早日聚首！
						我想我也得加快脚步，佳成，杨总，更要加快脚步。同时也祝你们远道而去的两位，有一个愉快的四川之旅！
					</div>
				</div>

			</div>
		</div>
	</div>
<script src="../../js/lib/jquery/jquery-1.9.1.min.js"></script>
<script src="../../js/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>